CompileFlags:
  Compiler: /usr/local/cuda/bin/nvcc
  Add:
    - --cuda-path=/usr/local/cuda
    - --cuda-gpu-arch=sm_90a
    - -I/usr/local/cuda/include
    - "-xcuda"
    # report all errors
    - "-ferror-limit=0"
    - --cuda-gpu-arch=sm_90a
    - --std=c++17
    - "-D__INTELLISENSE__"
    - "-D__CLANGD__"
    - "-DCUDA_12_0_SM90_FEATURES_SUPPORTED"
    - "-DCUTLASS_ARCH_MMA_SM90_SUPPORTED=1"
    - "-D_LIBCUDACXX_STD_VER=12"
    - "-D__CUDACC_VER_MAJOR__=12"
    - "-D__CUDACC_VER_MINOR__=3"
    - "-D__CUDA_ARCH__=900"
    - "-D__CUDA_ARCH_FEAT_SM90_ALL"
    - "-Wno-invalid-constexpr"
    - -I/workspaces/dev/cuda-playground/cutlass/include/
    - -I/workspaces/dev/cuda-playground/cutlass/tools/util/include/
    - -I/workspaces/dev/cuda-playground/cutlass/cutlass/examples/common/
    
    - -I/usr/local/lib/python3.10/dist-packages/torch/include
    - -I/usr/local/lib/python3.10/dist-packages/torch/include/torch/csrc/api/include
    - -I/usr/local/lib/python3.10/dist-packages/torch/include/TH
    - -I/usr/local/lib/python3.10/dist-packages/torch/include/THC

    - -I/usr/local/lib/python3.10/dist-packages/torch/include/THCUNN

    - -I/usr/include/python3.10

    - "-D_GLIBCXX_USE_CXX11_ABI=1"  # Match your PyTorch build's ABI (0 or 1)
    - "-DTORCH_API_INCLUDE_EXTENSION_H"
    - "-DTORCH_EXTENSION_NAME=gemm"  # Replace "gemm" with your extension name
    - "-DUSE_PYTHON"

  Remove:
    # strip CUDA fatbin args
    - "-Xfatbin*"
    # strip CUDA arch flags
    - "-gencode*"
    - "--generate-code*"
    # strip CUDA flags unknown to clang
    - "-ccbin*"
    - "--compiler-options*"
    - "--expt-extended-lambda"
    - "--expt-relaxed-constexpr"
    - "-forward-unknown-to-host-compiler"
    - "-Werror=cross-execution-space-call"

Hover:
  ShowAKA: No

InlayHints:
  Enabled: No

Diagnostics:
  Suppress:
    - "variadic_device_fn"
    - "attributes_not_allowed"
